{% extends "layout.html" %}

{% set account = registerData.account.recordset[0] %}
{% set homeAddress = registerData.homeAddress.recordset[0] %}
{% set licence = registerData.licences.recordset[0] %}

{% block pageTitle %}
Licence summary - {{account.AccountName}}
{% endblock %}

{% block pageDescription %}
Licences and activities held by {{account.AccountName}}
{% endblock %}

{% block ogTitle %}Licences and activities held by {{account.AccountName}}
{% endblock %}

{% block heroClass %}{% endblock %}

{% block heroContent %}{% endblock %}

{% block beforeContent %}

<a href="/personal/" class="govuk-back-link">Back to the register of personal licenses</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">{{account.IndividualFirstName}} {{account.IndividualLastName}}</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                    Account number
                </p>
                <p class="govuk-body">{{account.AccountNumber}}</p>

            </div>

            <div class="govuk-grid-column-one-third">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                    Location
                </p>
                <p class="govuk-body">
                    {{homeAddress.City}}
                </p>
            </div>        

        
        </div>

        <hr class="govuk-section-break govuk-section-break--visible gc-break govuk-!-margin-bottom-7">
    </div>
</div>

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            <nav class="gc-vertical-nav">
                <ul class="gc-vertical-nav__section">

                    <li class="gc-vertical-nav__section-item gc-vertical-nav__section-item--current">
                        <a class="gc-vertical-nav__link " href="/personal/detail/{{account.AccountNumber}}">Licence summary</a>
                    </li>
                   
                </ul>
            </nav>
        </div>

        <div class="app-pane__content">
          
                <h2 class="govuk-heading-m">
                        Licence summary
                    </h2>
    
    
                    <div class="govuk-inset-text govuk-!-margin-top-0" style="padding-top:1px;">


                            <div class="gc-search-result gc-search-result--header">
                                <span class="govuk-tag gc-pull-right licence-{{licence.Status}}">
                               <span class="govuk-visually-hidden">{{licence.Status}} licence status </span>{{licence.Status}}
                                </span>
        
                                <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                                    {{licence.Type}} licence</h2>
                                <p class="govuk-!-margin-bottom-2 govuk-body-s">Licence number: {{licence.LicenceNumber}}</p>
                                <p class="govuk-!-margin-bottom-2 govuk-body-s">Next renewal date: {{licence.NextRenewalDate | date('DD MMMM YYYY')}}</p>
                                <details class="govuk-details govuk-!-margin-bottom-1">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text">
                                            What is a {{licence.Type | lower}} licence?
                                        </span>
                                    </summary>
                                    <div class="govuk-details__text govuk-body-s">
                                        {% if licence.Type === 'Personal'%}
                                        <p></p>
                                        {% endif %}
                                    </div>
                                </details>
        
                            </div>
                          
                            <table class="govuk-table">
        
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row govuk-body-s">
                                        <th class="govuk-table__header" scope="col">Licensed for</th>
                                        <th class="govuk-table__header govuk-table__header--numeric  gc-text-right" scope="col">
                                            From</th>
                                    </tr>
                                </thead>
        
        
        
                                <tbody class="govuk-table__body  govuk-body-s">
                                  
                                    {% for activity in registerData.licenceActivities.recordset %}

                                  
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell" scope="row">
            
                                          
                                                {% for link in externalLinks.activities %}

                                                {% if link.activity === activity.Activity+"-"+activity.Type %}
                
                                                <a href="{{link.url}}" target="_Blank">{{'Personal management' if activity.Activity === 'PML' else 'Personal functional'}}</a>
                
                                                {% endif %}
                
                                                {% endfor %}
            
                                        </td>
                                        <td class="govuk-table__cell govuk-table__cell--numeric gc-text-right">
                                            <div class="">{{activity.Start | date('DD MMM YYYY') }}</div>
                                        </td>
            
                                    </tr>
            
                                    {% endfor %}
                                   
                                   
                                  
                                </tbody>
        
                            </table>
                        
                        </div>
                 
          

        </div>

    </div>
</div>
{% endblock %}