{% extends "layout.html" %}

{% block pageTitle %}
Download the register of gambling businesses
{% endblock %}

{% block pageDescription %}
Download information about gambling businesses
{% endblock %}

{% block ogTitle %}
Download information about gambling businesses
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}





{% endblock %}

{% block beforeContent %}
<a href="/personal/" class="govuk-back-link">Back to the register of personal licenses</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Download the register of personal licences
        </h1>


        <div class="govuk-inset-text">
                <p class="govuk-body govuk-!-font-weight-bold">
                    <a href="/public/personal-licence-register.xlsx"  ga-on="click"
                    ga-event-category="Download" ga-event-action="click"
                    ga-event-label="Personal register">personal-licence-register.xlsx</a>
                </p>
                <p class="govuk-body-s govuk-!-margin-bottom-1">File size: {{fileSizeInMegabytes}}{{mborkb}}</p>
                <p class="govuk-body-s govuk-!-margin-bottom-1">Last updated: {{ctime | date('DD MMMM YYYY')}}</p>
                <p class="govuk-body-s">Format: Excel</p>
            </div>
            <p class="govuk-body">You should be able to open this in most spreadsheet applications.</p>
    </div>

</div>


{% endblock %}