{% extends "layout.html" %}

{% block pageTitle %}
Thanks for your feedback
{% endblock %}

{% block pageDescription %}

{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}



{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Thanks for your feedback</h1>

    <p class="govuk-body">By providing feedback, you're helping to make our services better.</p>

    <p class="govuk-body">You can now close this window.</p>




  </div>


  <div class="govuk-grid-column-one-third">
    <div class="gc-secondary"></div>
    <p class="govuk-body">We also have a user research programme for people who want to take part in research on other
      Gambling Commission services.</p>
    <p class="govuk-body"><a href="http://ur-registration.gamblingcommission.gov.uk" rel="noopener"
        target="_blank">Register for the user research programme</a>.</p>
  </div>

</div>


{% endblock %}