{% extends "layout.html" %}

{% block pageTitle %}
Download the register of gambling businesses
{% endblock %}

{% block pageDescription %}
Download information about gambling businesses
{% endblock %}

{% block ogTitle %}
Download information about gambling businesses
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
            Download the register of gambling businesses
        </h1>

        <div class="govuk-inset-text">
            <p class="govuk-body govuk-!-font-weight-bold">
                <a href="/public/business-licence-register.xlsx" ga-on="click" ga-event-category="Download"
                    ga-event-action="click" ga-event-label="Business register">business-licence-register.xlsx</a>
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">File size: {{fileSizeInMegabytes}}{{mborkb}}</p>
            <p class="govuk-body-s govuk-!-margin-bottom-1">Last updated: {{ctime | date('DD MMMM YYYY')}}</p>
            <p class="govuk-body-s">Format: Excel</p>
        </div>
        <p class="govuk-body">You should be able to open this in most spreadsheet applications.</p>
    </div>
</div>

{% endblock %}