{% extends "layout.html" %}

{% block pageTitle %}
Full register of gambling businesses
{% endblock %}

{% block pageDescription %}
Full register of gambling businesses
{% endblock %}

{% block ogTitle %}
Full register of gambling businesses
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}
<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">


    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">Full register of gambling businesses</h1>

        <div class="gc-search gc-search--whitebg">
            <form method="POST" action="search">
                <label for="search" class="govuk-label">
                    <p id="search-hint" class="govuk-body">
                        Search by business, trading or domain name, or account number
                    </p>
                </label>

                <div class="inner-form govuk-!-margin-bottom-3">
                    <div class="input-field second-wrap">
                        <input id="search" name="search" type="text" placeholder="Search">
                    </div>
                    <div class="input-field third-wrap">
                        <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the gambling
                                business register</span>
                            <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path fill="currentColor"
                                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>


        </div>

    </div>

</div>


<div class="govuk-grid-row">



    <div class="govuk-grid-column-one-third">

        <form method="POST" action="full">


            <div class="gc-filters">

                <h2 class="govuk-heading-m">Filters</h2>

                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                            <h3 class="govuk-fieldset__heading">
                                Licensed for
                            </h3>
                        </legend>
                        <div class="govuk-checkboxes govuk-checkboxes--small">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-1" name="sector" type="checkbox"
                                    value="Arcades">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-1">
                                    Arcades
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-2" name="sector" type="checkbox"
                                    value="Betting">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-2">
                                    Betting
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-3" name="sector" type="checkbox"
                                    value="Bingo">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-3">
                                    Bingo
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-4" name="sector" type="checkbox"
                                    value="Casino">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-4">
                                    Casino
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-5" name="sector" type="checkbox"
                                    value="Gambling software">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-5">
                                    Gambling software
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-6" name="sector" type="checkbox"
                                    value="Gaming machine">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-6">
                                    Gaming machine
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-7" name="sector" type="checkbox"
                                    value="Lotteries">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-7">
                                    Lotteries
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-8" name="sector" type="checkbox"
                                    value="Remote">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-8">
                                    Remote
                                </label> </div>
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="sector-9" name="sector" type="checkbox"
                                    value="Non-remote">
                                <label class="govuk-label govuk-checkboxes__label" for="sector-9">
                                    Non-remote
                                </label> </div>
                        </div>
                    </fieldset>
                </div>


                <button type="submit" class="govuk-button">
                    Apply filter
                </button>

            </div>


        </form>

    </div>

    <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body govuk-!-margin-bottom-2">
            <span class="govuk-!-font-weight-bold">{{registerData.accounts.recordset.length | numeral("0,0") }}</span>
            results</p>
        <hr class="govuk-section-break govuk-!-margin-bottom-4 govuk-!-margin-top-1 govuk-section-break--visible">
        {% for i in registerData.accounts.recordset %}

        <div class="gc-search-result">
            <span class="govuk-visually-hidden">Record {{loop.index}} of
                {{registerData.accounts.recordset.length}}</span>
            <p class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="/business/detail/{{i.AccountNumber}}" ga-on="click" ga-event-category="OLFull"
                    ga-event-action="Click"
                    ga-event-label="{{ loop.index }}¬{{ loop.length }}¬{{i.AccountNumber}}¬{{data['full-register']}}">{{i.AccountName}}</a>
            </p>
            <h3 class="govuk-body-s govuk-!-font-weight-bold govuk-!-margin-bottom-1 govuk-!-margin-top-3">Account
                number
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">{{i.AccountNumber}}</p>
           

         

        </div>
        {% endfor %}

    </div>

</div>


{% endblock %}