{% extends "layout.html" %}

{% block pageTitle %}
Register of gambling businesses
{% endblock %}

{% block ogTitle %}
Register of gambling businesses
{% endblock %}

{% block pageDescription %}
Search for gambling businesses that are applying for, or hold a licence to carry out gambling activities in the United
Kingdom.
{% endblock %}

{% block heroClass %}
gc-header-hero
{% endblock %}

{% block heroContent %}

<section class="gc-hero gc-hero--image gc-hero--image-description govuk-!-padding-bottom-4">

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Register of gambling businesses
                </h1>
                <p class="govuk-body-l">Businesses that are applying for, or hold a licence to carry out gambling
                    activities in the United Kingdom.</p>

                <div class="gc-search">
                    <form method="GET" action="results">
                        <label for="search" class="govuk-label">
                            <p id="search-hint" class="govuk-body">
                                Search by business name, trading name, domain name or account number
                            </p>
                        </label>

                        <div class="inner-form govuk-!-margin-bottom-3">
                            <div class="input-field second-wrap">
                                <input id="search" name="business-search" type="text" placeholder="Search">
                            </div>
                            <div class="input-field third-wrap">
                                <button class="btn-search" type="submit"><span class="govuk-visually-hidden">Search the
                                        gambling business register</span>
                                    <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" data-prefix="fas"
                                        data-icon="search" role="img" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 512 512">
                                        <path fill="currentColor"
                                            d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <div class="govuk-grid-row gc-promo-group">
            <div class="govuk-grid-column-one-third gc-promo-group__item">
                <div class="gc-promo app-promo--grey">
                    <a class="gc-promo__link-wrapper" href="/business/full">
                        <div class="gc-promo__content">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">View the full register</h3>
                            <p class="gc-promo__description">View and filter the full gambling business register</p>
                            <p class="gc-promo__description">{{registerData.NumberOfOperatorRecords  | numeral("0,0")}}
                                records</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="govuk-grid-column-one-third gc-promo-group__item">
                <div class="gc-promo app-promo--grey">
                    <a class="gc-promo__link-wrapper" href="/business/download">

                        <div class="gc-promo__content">
                            <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Download the register</h3>
                            <p class="gc-promo__description">Compatible with spreadsheet applications</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <h2 class="govuk-heading-m">
            About the data
        </h2>

        <p class="govuk-body">Last updated: {{registerData.lastupdated | date('DD MMMM YYYY')}}</p>

        <p class="govuk-body">There are <span
                class="govuk-!-font-weight-bold">{{registerData.NumberOfOperatorRecords  | numeral("0,0")}}</span>
            records and <b>9 fields</b>
            in this register.</p>

        <div class="govuk-inset-text">
            Domain names and trading names are provided by the gambling business. The Gambling Commission cannot
            guarantee the
            accuracy of information provided by third parties.
        </div>

        <table class="gc-table">
            <caption class="gc-table__caption">
                <p class="govuk-body">The fields in this register</p>
            </caption>
            <thead class="gc-table__head">
                <tr class="gc-table__row">
                    <th class="gc-table__header" scope="col">
                        Field
                    </th>
                    <th class="gc-table__header " scope="col">
                        Description
                    </th>
                </tr>
            </thead>
            <tbody class="gc-table__body">
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Account number
                    </td>
                    <td class="gc-table__cell">
                        The unique reference number of the business
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Account name
                    </td>
                    <td class="gc-table__cell">
                        The legal name of the gambling business
                    </td>
                </tr>

                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Account type
                    </td>
                    <td class="gc-table__cell">
                        Always "Operator" for gambling businesses
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Account start
                    </td>
                    <td class="gc-table__cell">
                        The date the business was first licensed by the Gambling Commission
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Trading name count
                    </td>
                    <td class="gc-table__cell">
                        The number of trading names declared by the business to the Gambling Commission
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Domain name count
                    </td>
                    <td class="gc-table__cell">
                        The number of domain names declared by the business to the Gambling Commission
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Premises count
                    </td>
                    <td class="gc-table__cell">
                        The number of premises for the business known to the Gambling Commission
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Trading name status
                    </td>
                    <td class="gc-table__cell">
                        The status of the trading name, this can be "Active" or "Inactive"
                    </td>
                </tr>
                <tr class="gc-table__row">
                    <td class="gc-table__cell">
                        Domain name status
                    </td>
                    <td class="gc-table__cell">
                        The status of the domain name, this can be "Active", "Inactive" or "White label"
                    </td>
                </tr>
            </tbody>
        </table>



    </div>

</div>


{% endblock %}