{% extends "layout.html" %}

{% block pageTitle %}
Regulatory action datasets
{% endblock %}

{% block pageDescription %}
Information about regulatory action including sanctions and settlements taken by the Gambling Commission
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}





{% endblock %}

{% block beforeContent %}
<a href="/#datasets" class="govuk-back-link">Back to list of datasets</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

<div class="gc-alert gc-alert--info govuk-!-margin-bottom-6">
        <p class="govuk-body">We are working towards making this data available in a searchable register by the end of 2019</p>
</div>


        <h1 class="govuk-heading-l">
            Regulatory action datasets
        </h1>

        <p class="govuk-body">Sanctions are published once the individual or gambling business involved has been
            informed and any objections to publication have been considered. </p>

            <p class="govuk-body">We are only required to publish the last 3 years of sanctions.</p>

        <h2 class="govuk-heading-m">
            Download the datasets
        </h2>

        <div class="govuk-inset-text">
                <h3 class="govuk-heading-s">
                       Gambling businesses
                </h3>
            <p class="govuk-body govuk-!-font-weight-bold">
                <a href="https://www.gamblingcommission.gov.uk/PDF/Regulatory-sanctions-register-operators.pdf" target="_Blank">Regulatory-sanctions-register-operators.pdf</a>
            </p>
            <p class="govuk-body-s">File size 232kb</p>

        </div>

        <div class="govuk-inset-text">
         

            <h3 class="govuk-heading-s">
                    Individuals
             </h3>
            <p class="govuk-body govuk-!-font-weight-bold">
                    <a href="https://www.gamblingcommission.gov.uk/PDF/Regulatory-sanctions-register-personal-licences.pdf" target="_Blank">Regulatory-sanctions-register-personal-licences.pdf</a>
                </p>
                <p class="govuk-body-s govuk-!-margin-bottom-1">File size 362kb</p>
        </div>

        <p class="govuk-body">This file is a PDF. We are working towards making this data available in a searchable
            register.</p>

        <h2 class="govuk-heading-m">
            Additional information
        </h2>

        <p class="govuk-body">
            Our general approach is to help gambling businesses comply with the law and with the licence conditions and
            codes of practice. But when we must take action we have a range of powers including:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>issuing a warning</li>
            <li>attaching an additional licence condition</li>
            <li>removing or amending a licence condition</li>
            <li>suspending a licence</li>
            <li>revoking a licence</li>
            <li>imposing a financial penalty</li>
        </ul>



    </div>

</div>


{% endblock %}