{% extends "layout.html" %}

{% set account = registerData.account.recordset[0] %}
{% set hoAddress = registerData.hoAddress.recordset[0] %}

{% block pageTitle %}
Domain names - {{account.AccountName}}
{% endblock %}

{% block pageDescription %}
List of domain names for {{account.AccountName}}
{% endblock %}

{% block ogTitle %}List of domain names for {{account.AccountName}}
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}


{% endblock %}

{% block beforeContent %}

<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>

{% endblock %}


{% block content %}

{% include "../../includes/business-account-header.html" %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            <nav class="gc-vertical-nav">
                <ul class="gc-vertical-nav__section">

                    <li class="gc-vertical-nav__section-item">
                        <a class="gc-vertical-nav__link " href="/business/detail/{{account.AccountNumber}}">Licence
                            summary</a>
                    </li>
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.TradingNameCount}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/trading-names/{{account.AccountNumber}}">Trading names</a>
                    </li>
                    <li class="gc-vertical-nav__section-item gc-vertical-nav__section-item--current">
                        <span class="gc-vertical-nav--count">{{account.DomainNameCount}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/domain-names/{{account.AccountNumber}}">Domain names</a>
                    </li>

                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.CountOfPremises | numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/premises/{{account.AccountNumber}}">Premises</a>
                    </li>


                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.ActionsCount| numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/settlements/{{account.AccountNumber}}">Settlements</a>
                    </li>

                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.SanctionsCount| numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/sanctions/{{account.AccountNumber}}">Sanctions</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="app-pane__content">

            <h2 class="govuk-heading-m">
                Domain names
            </h2>



            {% if registerData.domainNames.recordset.length === 0 %}

            <div class="govuk-inset-text govuk-!-margin-top-0">
                <p class="govuk-body">No domain names for this business</p>
            </div>
            {% endif %}


            {% for status, i in registerData.domainNames.recordset | groupby ('Status') %}
            {% if status === 'White Label' %}
            <h3 class="govuk-heading-m">White label</h3>

            <p class="govuk-body">A white label website is designed to look and feel like a company or brand but the
                contents and services provided on the website are operated and managed by another company. </p>
            <p class="govuk-body">You can find out more about <a
                    href="https://www.gamblingcommission.gov.uk/for-gambling-businesses/Compliance/Sector-specific-compliance/Remote-and-software/White-label-gambling-websites.aspx"
                    target="_blank" rel="noopener">white label gambling websites</a> on the Gambling Commission website.
            </p>
            {% endif %}


            <table class="govuk-table">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Name</th>
                        <th class="govuk-table__header gc-text-right" scope="col">Status</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body  govuk-body-s">
                    {% for name in i %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">{{name.DomainName | lower}}</td>
                        <td class="govuk-table__cell gc-text-right" scope="row">{{status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% endfor %}




        </div>

    </div>
</div>
{% endblock %}