{% extends "layout.html" %}

{% set account = registerData.account.recordset[0] %}
{% set hoAddress = registerData.hoAddress.recordset[0] %}

{% block pageTitle %}
Licence summary - {{account.AccountName}}
{% endblock %}

{% block pageDescription %}
Licences and activities held by {{account.AccountName}}
{% endblock %}

{% block ogTitle %}Licences and activities held by {{account.AccountName}}
{% endblock %}

{% block heroClass %}
{% endblock %}

{% block heroContent %}
{% endblock %}

{% block beforeContent %}

<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>

{% endblock %}


{% block content %}

{% include "../../includes/business-account-header.html" %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            <nav class="gc-vertical-nav">
                <ul class="gc-vertical-nav__section">

                    <li class="gc-vertical-nav__section-item gc-vertical-nav__section-item--current">
                        <a class="gc-vertical-nav__link " href="/business/detail/{{account.AccountNumber}}">Licence
                            summary</a>
                    </li>
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.TradingNameCount}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/trading-names/{{account.AccountNumber}}">Trading names</a>
                    </li>
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.DomainNameCount}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/domain-names/{{account.AccountNumber}}">Domain names</a>
                    </li>

                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.CountOfPremises  | numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/premises/{{account.AccountNumber}}">Premises</a>
                    </li>
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.ActionsCount| numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                        href="/business/detail/settlements/{{account.AccountNumber}}">Settlements</a>
                    </li>
                      
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.SanctionsCount| numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/sanctions/{{account.AccountNumber}}">Sanctions</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="app-pane__content">

            <h2 class="govuk-heading-m">
                Licence summary
            </h2>

            {% for i in registerData.licences.recordset %}
            <div class="govuk-inset-text govuk-!-margin-top-0" style="padding-top:1px;">


                <div class="gc-search-result gc-search-result--header  govuk-!-margin-bottom-0">
                    <span class="govuk-tag gc-pull-right licence-{{ i.Status}}">
                        <span class="govuk-visually-hidden">{{ i.Status}} licence status </span>{{ i.Status}}
                    </span>

                    <p class="govuk-heading-m govuk-!-margin-bottom-2">
                        {{ i.Type}} licence</p>
                    <p class="govuk-!-margin-bottom-2 govuk-body-s">Licence number: {{ i.LicenceNumber}}
                        <details class="govuk-details govuk-!-margin-bottom-1"  data-module="govuk-details">
                            <summary class="govuk-details__summary">
                                <span class="govuk-details__summary-text">
                                    What is a {{ i.Type | lower}} licence?
                                </span>
                            </summary>
                            <div class="govuk-details__text govuk-body-s">
                                {% if i.Type === 'Non-Remote'%}
                                <p>A non-remote licence is required for physical, land-based gambling, for example,
                                    bookmakers, betting shops, arcades and casinos.</p>
                                {% endif %}

                                {% if i.Type === 'Remote'%}
                                <p> Regardless of where you are based in the world, you need a licence from us if:</p>
                                <ul class="govuk-list govuk-list--bullet">
                                    <li>you are providing facilities for gambling to consumers in Great Britain online
                                        (or
                                        through any other means of remote communication)</li>
                                    <li> any part of your remote gambling equipment is based in Great Britain. </li>
                                </ul>
                                {% endif %}
                                {% if i.Type === 'Ancillary Remote'%}
                                <p>Authorises the licensee to provide facilities for single premises gaming by means of
                                    remote communication equipment that is situated entirely on the set of premises on
                                    which
                                    the gaming takes place</p>
                                {% endif %}
                            </div>
                        </details>

                </div>

                <table class="govuk-table">

                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row govuk-body-s">
                            <th class="govuk-table__header" scope="col">Licensed for</th>
                            <th class="govuk-table__header govuk-table__header--numeric  gc-text-right" scope="col">
                                From</th>
                        </tr>
                    </thead>



                    <tbody class="govuk-table__body  govuk-body-s">

                        {% for activity in registerData.licenceActivities.recordset %}

                        {% if activity.LicenceNumber === i.LicenceNumber %}

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" scope="row">


                                {% for link in externalLinks.activities %}

                                {% if link.activity === activity.Activity+"-"+activity.Type %}

                                <a href="{{link.url}}" target="_Blank">{{activity.Activity}}</a>

                                {% endif %}

                                {% endfor %}

                            </td>
                            <td class="govuk-table__cell govuk-table__cell--numeric gc-text-right">
                                <div class="">{{activity.Start | date('DD MMM YYYY') }}</div>
                            </td>

                        </tr>

                        {% endif %}
                        {% endfor %}



                    </tbody>

                </table>



            </div>
            {% endfor %}


        </div>

    </div>
</div>
{% endblock %}