{% extends "layout.html" %}

{% set account = registerData.account.recordset[0] %}
{% set hoAddress = registerData.hoAddress.recordset[0] %}

{% block pageTitle %}
Premises - {{account.AccountName}}
{% endblock %}

{% block pageDescription %}
List of premises for {{account.AccountName}}
{% endblock %}

{% block ogTitle %}
List of premises for {{account.AccountName}}
{% endblock %}

{% block heroClass %}{% endblock %}

{% block heroContent %}{% endblock %}

{% block beforeContent %}
<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>
{% endblock %}

{% block content %}

{% include "../../includes/business-account-header.html" %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            <nav class="gc-vertical-nav">
                <ul class="gc-vertical-nav__section">

                    <li class="gc-vertical-nav__section-item">
                        <a class="gc-vertical-nav__link " href="/business/detail/{{account.AccountNumber}}">Licence
                            summary</a>
                    </li>
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.TradingNameCount}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/trading-names/{{account.AccountNumber}}">Trading names</a>
                    </li>
                    <li class="gc-vertical-nav__section-item">
                        <span class="gc-vertical-nav--count">{{account.DomainNameCount}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/domain-names/{{account.AccountNumber}}">Domain names</a>
                    </li>

                    <li class="gc-vertical-nav__section-item  gc-vertical-nav__section-item--current">
                        <span class="gc-vertical-nav--count">{{account.CountOfPremises | numeral("0,0")}}</span>
                        <a class="gc-vertical-nav__link "
                            href="/business/detail/premises/{{account.AccountNumber}}">Premises</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="app-pane__content">
            <h2 class="govuk-heading-m">
                Premises
            </h2>
            <div class="govuk-inset-text govuk-!-margin-top-0 govuk-!-margin-bottom-3">
                You can use the <a href="/premises/full">premises register</a> to filter premises by area, licensing
                authority and more.
            </div>
            {% if registerData.premises.recordset.length === 0 %}
            <div class="govuk-inset-text">
                <p class="govuk-body">No premises for this business</p>
            </div>
            {% else %}
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">Address</th>
                        <th class="govuk-table__header" scope="col">Authority</th>
                        <th class="govuk-table__header" scope="col">Activity</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body  govuk-body-s">
                    {% for  i in registerData.premises.recordset %}
               
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">
                            <a href="/premises/detail/{{i.RowID}}"
                                class="govuk-!-margin-bottom-2">{{i.AddressLine1}}</a><br>{{i.AddressLine2}},
                            {{i.City | capitalize}}, {{i.Postcode}}</td>
                        <td class="govuk-table__cell" scope="row">
                            {{i.LocalAuthority if i.LocalAuthority !== 'NULL' else 'NOT AVAILABLE'}}</td>
                        <td class="govuk-table__cell" scope="row">
                            {{i.PremisesActivity if i.PremisesActivity !== 'NULL' else 'NOT AVAILABLE'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}