{% extends "layout.html" %}

{% set account = registerData.account.recordset[0] %}
{% set hoAddress = registerData.hoAddress.recordset[0] %}

{% block pageTitle %}
Sanctions - {{account.AccountName}}
{% endblock %}

{% block pageDescription %}
Regulatory sanctions taken by the Gambling Commission against {{account.AccountName}}
{% endblock %}

{% block ogTitle %}Regulatory sanctions taken by the Gambling Commission against {{account.AccountName}}
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}


{% endblock %}

{% block beforeContent %}

<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>

{% endblock %}


{% block content %}

{% include "../../includes/business-account-header.html" %}

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            <nav class="gc-vertical-nav">
                <ul class="gc-vertical-nav__section">

                        <li class="gc-vertical-nav__section-item">
                                <a class="gc-vertical-nav__link " href="/business/detail/{{account.AccountNumber}}">Licence
                                    summary</a>
                            </li>
                            <li class="gc-vertical-nav__section-item">
                                <span class="gc-vertical-nav--count">{{account.TradingNameCount}}</span>
                                <a class="gc-vertical-nav__link "
                                    href="/business/detail/trading-names/{{account.AccountNumber}}">Trading names</a>
                            </li>
                            <li class="gc-vertical-nav__section-item">
                                <span class="gc-vertical-nav--count">{{account.DomainNameCount}}</span>
                                <a class="gc-vertical-nav__link "
                                    href="/business/detail/domain-names/{{account.AccountNumber}}">Domain names</a>
                            </li>
        
                            <li class="gc-vertical-nav__section-item">
                                <span class="gc-vertical-nav--count">{{account.CountOfPremises | numeral("0,0")}}</span>
                                <a class="gc-vertical-nav__link "
                                    href="/business/detail/premises/{{account.AccountNumber}}">Premises</a>
                            </li>
                            
                            <li class="gc-vertical-nav__section-item">
                                <span class="gc-vertical-nav--count">{{account.ActionsCount| numeral("0,0")}}</span>
                                <a class="gc-vertical-nav__link "
                                href="/business/detail/settlements/{{account.AccountNumber}}">Settlements</a>
                            </li>
                              
                            <li class="gc-vertical-nav__section-item   gc-vertical-nav__section-item--current">
                                <span class="gc-vertical-nav--count">{{account.SanctionsCount| numeral("0,0")}}</span>
                                <a class="gc-vertical-nav__link "
                                    href="/business/detail/sanctions/{{account.AccountNumber}}">Sanctions</a>
                            </li>
                </ul>
            </nav>
        </div>

        <div class="app-pane__content">

            <h2 class="govuk-heading-m">
                Regulatory sanctions
            </h2>

            <p>When a licence holder has not followed rules and regulations aimed at ensuring gambling is fair,
                safe and crime-free, we can take action and impose the following sanctions:
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Give the licensee a warning</li>
                <li>Add, remove, or amend a condition to the licence</li>
                <li>Suspend a licence</li>
                <li>Revoke a licence</li>
                <li>Impose a financial penalty</li>
            </ul>
    
            {% if registerData.actions.recordset.length === 0 %}

            <div class="govuk-inset-text govuk-!-margin-top-0">
                <p class="govuk-body">No regulatory sanctions have been recorded for this business.</p>
            </div>
            {% endif %}
    
    
            {% for  i in registerData.actions.recordset %}
         
            <div class="govuk-inset-text">
                {{ i.Details | safe}}
            </div>                 
    
            {% endfor %}


    

        </div>

    </div>
</div>
{% endblock %}