{% extends "layout.html" %}

{% block pageTitle %}
Trading names
{% endblock %}

{% block pageDescription %}
[Operator-name]
{% endblock %}

{% block ogTitle %}
[Operator-name]
{% endblock %}

{% block heroClass %}

{% endblock %}

{% block heroContent %}



{% endblock %}

{% block beforeContent %}

<a href="/business/" class="govuk-back-link">Back to the register of gambling businesses</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">[Operator-name]</h1>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                    Account number
                </p>
                <p class="govuk-body">[Account-number]</p>

            </div>


            <div class="govuk-grid-two-thirds">
                <p class="govuk-heading-s govuk-!-margin-bottom-0">
                    Head office address
                </p>


                <address class="govuk-body">
                    [Address-line1], [Address-line2], [Address-City]<br>
                    [Address-country], [Address-country]
                </address>
            </div>
        </div>

        <hr class="govuk-section-break govuk-section-break--visible gc-break govuk-!-margin-bottom-7">
    </div>
</div>

<div class="govuk-grid-row">


    <div class="app-pane__body govuk-width-container">
        <div class="app-pane__subnav app-hide-mobile">
            <nav class="gc-vertical-nav">
                <ul class="gc-vertical-nav__section">

                        <li class="gc-vertical-nav__section-item">
                                <a class="gc-vertical-nav__link " href="/business/detail/x">Licence summary</a>
                            </li>
                            <li class="gc-vertical-nav__section-item gc-vertical-nav__section-item--current">
                                <span class="gc-vertical-nav--count">0</span>
                                <a class="gc-vertical-nav__link " href="/business/detail/trading-names/x">Trading names</a>
                            </li>
                            <li class="gc-vertical-nav__section-item">
                                <span class="gc-vertical-nav--count">0</span>
                                <a class="gc-vertical-nav__link " href="/business/detail/domain-names/x">Domain names</a>
                            </li>
        
                            <li class="gc-vertical-nav__section-item">
                                <span class="gc-vertical-nav--count">0</span>
                                <a class="gc-vertical-nav__link " href="/business/detail/premises/x">Premises</a>
                            </li>
                </ul>
            </nav>
        </div>

        <div class="app-pane__content">

            <h2 class="govuk-heading-m">
                Trading names
            </h2>







            <table class="govuk-table">

                <thead class="govuk-table__head">
                    <tr class="govuk-table__row govuk-body-s">
                        <th class="govuk-table__header" scope="col">Name</th>
                        <th class="govuk-table__header govuk-table__header--numeric  gc-text-right" scope="col">
                            Status</th>
                    </tr>
                </thead>



                <tbody class="govuk-table__body  govuk-body-s">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">


                            [Trading-name]






                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric gc-text-right">
                            <div class="">[Status]</div>
                        </td>

                    </tr>



                </tbody>

            </table>





        </div>

    </div>
</div>
{% endblock %}